@import "tailwindcss";

@theme {
  --color-primary: #014228;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: 'Dit Magi', serif;
  --font-body: 'Raleway', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

p, span, a, li, button {
  font-family: var(--font-body);
}
